@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #282e33;
}

body {
	margin: 0 2rem;
}

.grid-cols-custom {
	grid-template-columns: 1fr 2fr; /* Ejemplo de 3 columnas personalizadas */
}
